$innerBorderColors: rgb(236, 236, 236);
$innerBorderDef: 2px solid #{$innerBorderColors};
$lightHover: rgba(0, 0, 0, 0.05);
$imgSize: 118px;

input.addsearch.form-autocomplete {
  background-color: $lightHover;
}

ul.ui-autocomplete.addsearch {

  display: grid;
  grid-template-columns: 550px 200px;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {

    border-left: $innerBorderDef;
    height: 18px;
    width: 14px;

    &-thumb {
      background-color: rgba(0, 0, 0, 0.15);
      background-clip: padding-box;
      border: 4px solid rgba(0, 0, 0, 0);
      border-radius: 7px;
      box-shadow: inset -1px -1px 0px $lightHover, inset 1px 1px 0px $lightHover;
      height: 6px;
    }
  }

  a:hover {
    text-decoration: none;
  }

  %LinkHover {
    background: $lightHover;
    color: black;
  }

  .ui-menu {
    &-divider {
      &:before {
        background: $innerBorderColors;
        content: '';
        display: block;
        height: 100%;
        left: -2px;
        position: absolute;
        width: 1px;
      }

      border: none;
      font-size: 14px;
      grid-area: s;
      height: unset;
      line-height: inherit;
      margin: 0;
      position: relative;

      &.close {
        background: #fff;
        border-top: $innerBorderDef;
        bottom: 0;
        content: '';
        display: block;
        grid-area: x;
        height: 40px;
        margin: 0;
        max-width: unset;
        pointer-events: auto;
        position: sticky;
        width: 100%;
      }

      > a {
        display: block;
        margin: 5px 0;
        text-decoration: none;

        &:after {
          content: attr(data-content);
          display: inline;
          margin-left: 6px;
          margin-top: 10px;
          padding-bottom: 6px;
        }
      }

      div + a:after {
        display: none;
      }

      ol {
        list-style: none;
        li {
          margin-left: 6px;
          &:hover {
            background: $lightHover;
          }
        }
      }

      div ~ ol {
        display: none;

      }

      & ~ li {
        border: none;
        margin-left: 10px;
        max-width: 100px;
      }
    }

    &-item {
      border-bottom: $innerBorderDef;
      border-right: $innerBorderDef;
      pointer-events: auto;

      &-wrapper {
        max-width: 355px;
        padding: 0;

        & > a{
          align-items: center;
          display: flex;
          max-width: 550px;
          padding: 6px 14px 6px 6px;

          * {
            font-size: 14px;
          }

          .categories {
            display: block;
            font-size: 10px;
            margin-top: 16px;
            text-transform: uppercase;
          }

          &:hover {
            @extend %LinkHover;
          }

          &.ui-state-active {
            @extend %LinkHover;
            > a {
              @extend %LinkHover;
            }
          }
        }
        img {
          margin-right: 10px;
          max-height: $imgSize;
          max-width: $imgSize;
        }

        em {
          font-weight: bold;
        }
      }
    }
  }
}

.ui-menu.addsearch .ui-state-focus, .ui-menu.addsearch .ui-state-active {
  border: none;
  margin: unset;
}
