<article class="addsearch result">
  <img src="data:image/jpeg;base64,{{ images['main_b64'] }}" />
  <h3>
    <a href="{{ url }}">{{ title }}</a>
  </h3>
  <span>
    {{ highlight }}
  </span>
</article>
