{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - url
 * - images
 * - title
 * - highlight
 * - categories
 * - attributes
 * - result_type
 */
#}

{% apply spaceless %}
  <a href="{{ url }}" {{ attributes }}>
    <img src="{{ images['main'] }}"/>
    <div class="group">
      <h2>{{ title }}</h2>
      <span class="highlight">
        {{ highlight }}
      </span>
      {% if categories and categories|length > 1 %}
        <span class="categories">
          {{ categories[1]|slice(2) }}
        </span>
      {% endif %}
    </div>
  </a>
{% endapply %}
